<form class="form" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <h2>Create new task</h2>
    <div class="control">
        <label for="title">*Title</label>
        <input id="title" type="text" placeholder="Title" formControlName="title" required>
        <span class="error" *ngIf="taskForm.get('title')?.invalid && (taskForm.get('title')?.dirty || taskForm.get('title')?.touched)">
            Please provide a title
        </span>
    </div>
    <div class="control">
        <label for="description">*Description</label>
        <input id="description" type="text" placeholder="Description" formControlName="description" required>
        <span class="error" *ngIf="taskForm.get('description')?.invalid && (taskForm.get('description')?.dirty || taskForm.get('description')?.touched)">
            Please provide a description
        </span>
    </div>
    <button type="submit" class="submit-button" [disabled]="!taskForm.valid">Submit</button>
</form>